.input-text textarea {
  padding: 1rem;
  width: 100%;
}
.input-title input {
  margin: 1rem 0;
  padding: 0.7rem;
  width: 60%;
}
.input-title {
  margin: 10px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.add-btn {
  background-color: black;
  color: white;
  padding: 0.2em 1em;
}

@media(min-width: 768px){
  .input-title {
    margin: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .input-title input {
    margin: 1rem 0;
    padding: 0.7rem;
    width: 80%;
  }
  .add-btn {
    background-color: black;
    color: white;
    padding: 0.2em 3em;
  }
  
  .input-text {
    min-height: 100vh;
    width: auto;
  }
  .input-text textarea {
    padding: 1rem;
  }
}